.itemNavbar {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 8px;
  padding:8px;
  text-decoration: none;
  transition: 0.3s ease-in all;
}

.itemNavbar:hover{
  transform: scale(1.1);
}

.barNavbar {
  display: flex;
  gap:20px;
}